* {
  font-family: 'Minecraft' !important;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.woff2') format('woff2'), url('/fonts/Minecraft.woff') format('woff'),
    url('/fonts/Minecraft.ttf') format('ttf');
}
