* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-shadow: 0.125em 0.125em 0 var(--px-color-text-shadow);
  -webkit-tap-highlight-color: transparent;
}

.px-icon {
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(0.125em 0.125em 0 var(--px-color-icon-shadow));
}

:root {
  --px-color-red: #f44336;
  --px-color-red-hover: #e53935;
  --px-color-red-active: #d32f2f;

  --px-color-orange: #ff9800;
  --px-color-orange-hover: #fb8c00;
  --px-color-orange-active: #f57c00;

  --px-color-yellow: #ffeb3b;
  --px-color-yellow-hover: #fdd835;
  --px-color-yellow-active: #fbc02d;

  --px-color-green: #4caf50;
  --px-color-green-hover: #43a047;
  --px-color-green-active: #388e3c;

  --px-color-blue: #2196f3;
  --px-color-blue-hover: #1e88e5;
  --px-color-blue-active: #1976d2;

  --px-chamfer-depth: 4px;
  --px-chamfer-clip-path: polygon(
    var(--px-chamfer-depth) 0%,
    calc(100% - var(--px-chamfer-depth)) 0%,
    calc(100% - var(--px-chamfer-depth)) var(--px-chamfer-depth),
    100% var(--px-chamfer-depth),
    100% calc(100% - var(--px-chamfer-depth)),
    calc(100% - var(--px-chamfer-depth)) calc(100% - var(--px-chamfer-depth)),
    calc(100% - var(--px-chamfer-depth)) 100%,
    var(--px-chamfer-depth) 100%,
    var(--px-chamfer-depth) calc(100% - var(--px-chamfer-depth)),
    0% calc(100% - var(--px-chamfer-depth)),
    0% var(--px-chamfer-depth),
    var(--px-chamfer-depth) var(--px-chamfer-depth)
  );

  --px-border-width: 2px;
  --px-color-border: var(--px-color-black);

  --px-color-shadow: #0004;
  --px-color-text-shadow: #0004;
  --px-color-icon-shadow: #0004;

  --px-color-shadow-red: #f4433645;
  --px-color-shadow-orange: #ff980045;
  --px-color-shadow-yellow: #ffeb3b45;
  --px-color-shadow-green: #4caf5045;
  --px-color-shadow-blue: #2196f345;
  --px-color-shadow-black: #0004;
  --px-color-shadow-white: #fff4;
}
:root,
.light-mode {
  --px-color-white: #ffffff;
  --px-color-black: #0d1117;

  --px-color-white-on-light-black-on-dark: #ffffff;
  --px-color-black-on-light-white-on-dark: #0d1117;

  --px-color-dark: #e4e9f2;
  --px-color-dark-hover: #d7deea;
  --px-color-dark-active: #cbd5e1;

  --px-color-light: #f5f8fc;
  --px-color-light-hover: #ebf1f9;
  --px-color-light-active: #e0e8f2;

  --px-color-page-header: #e4ecf7;
  --px-color-page-background: #f2f6fc;
  --px-color-page-loading-indicator: var(--px-color-blue);
}

.dark-mode {
  --px-color-white-on-light-black-on-dark: #000;
  --px-color-black-on-light-white-on-dark: #fff;

  --px-color-dark: #1e2630;
  --px-color-dark-hover: #252f3a;
  --px-color-dark-active: #2b3642;

  --px-color-page-header: #1b222a;
  --px-color-page-background: #0f141a;
  --px-color-page-loading-indicator: var(--px-color-blue);
}
