.Vue-Toastification__container {
  filter: drop-shadow(2px 0 0 var(--px-color-black)) drop-shadow(-2px 0 0 var(--px-color-black))
    drop-shadow(0 2px 0 var(--px-color-black)) drop-shadow(0 -2px 0 var(--px-color-black))
    drop-shadow(0.125em 0.125em 0 var(--px-color-shadow));
}

.Vue-Toastification__toast {
  border-radius: 0 !important;
  clip-path: var(--px-chamfer-clip-path);
}

.Vue-Toastification__progress-bar {
  height: 4px !important;
}
