* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-shadow: 0.125em 0.125em 0 var(--px-color-text-shadow);
  -webkit-tap-highlight-color: transparent;
}

.px-icon {
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(0.125em 0.125em 0 var(--px-color-icon-shadow));
}

:root {
  --px-color-red: #f44336;
  --px-color-red-hover: #e53935;
  --px-color-red-active: #d32f2f;

  --px-color-orange: #ff9800;
  --px-color-orange-hover: #fb8c00;
  --px-color-orange-active: #f57c00;

  --px-color-yellow: #ffeb3b;
  --px-color-yellow-hover: #fdd835;
  --px-color-yellow-active: #fbc02d;

  --px-color-green: #4caf50;
  --px-color-green-hover: #43a047;
  --px-color-green-active: #388e3c;

  --px-color-blue: #2196f3;
  --px-color-blue-hover: #1e88e5;
  --px-color-blue-active: #1976d2;

  --px-chamfer-level: 4px;
  --px-border-width: 2px;
  --px-color-border: var(--px-color-black);

  --px-color-shadow: #0004;
  --px-color-text-shadow: #0004;
  --px-color-icon-shadow: #0004;

  --px-color-shadow-red: #f4433645;
  --px-color-shadow-orange: #ff980045;
  --px-color-shadow-yellow: #ffeb3b45;
  --px-color-shadow-green: #4caf5045;
  --px-color-shadow-blue: #2196f345;
  --px-color-shadow-black: #0004;
  --px-color-shadow-white: #fff4;

  --px-transition-time-fast: 0.125s;
  --px-transition-time-normal: 0.25s;
  --px-transition-time-slow: 0.5s;

  --px-transition-time-swipe-y: var(--px-transition-time-normal);
  --px-transition-time-swipe-x: var(--px-transition-time-normal);
  --px-transition-time-expand: var(--px-transition-time-normal);
  --px-transition-time-expand-swipe-y: var(--px-transition-time-normal);
  --px-transition-time-expand-swipe-x: var(--px-transition-time-normal);
}
:root,
.light-mode {
  --px-color-white: #fff;
  --px-color-black: #000;

  --px-color-white-on-light-black-on-dark: #fff;
  --px-color-black-on-light-white-on-dark: #000;

  --px-color-dark: #ffd9ab;
  --px-color-dark-hover: #ebc89d;
  --px-color-dark-active: #e3bc98;

  --px-color-light: #f8f9fa;
  --px-color-light-hover: #e2e6ea;
  --px-color-light-active: #dae0e5;

  --px-color-page-header: #ffd9ab;
  --px-color-page-background: bisque;
  --px-color-page-loading-indicator: var(--px-color-black);
}

.dark-mode {
  --px-color-white-on-light-black-on-dark: #000;
  --px-color-black-on-light-white-on-dark: #fff;

  --px-color-dark: #343a40;
  --px-color-dark-hover: #23272b;
  --px-color-dark-active: #1d2124;

  --px-color-page-header: #343a40;
  --px-color-page-background: #121212;
  --px-color-page-loading-indicator: var(--px-color-blue);
}
